<div class="section-container">
    <h2>
        Latest Orders
    </h2>
    <table class="table table-dark table-hover">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Amount</th>
                <th>Order Placed</th>
                <th>Order Completed</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody class="t">
            <tr *ngFor="let order of this.orders">
                <td>{{ order.id }}</td>
                <td>{{ order.customer.firstName }}</td>
                <td>{{ order.customer.lastName }}</td>
                <td>{{ order.totalPrice }}</td>
                <td>{{ order.placed | date: 'short' }}</td>
                <ng-template [ngIf]="order.completed != null" [ngIfElse]="notCompleted">
                    <td>{{ order.completed | date: 'short' }}</td>
                    <td>{{ "Completed" }}</td>
                </ng-template>
                <ng-template #notCompleted>
                    <td>{{ "No" }}</td>
                    <td>{{ "Active" }}</td>
                </ng-template>
            </tr>
        </tbody>
    </table>
    <app-pagination
    (goPage)="goToPage($event)"
    (goPrev)="goToPrevious()"
    (goNext)="goToNext()"
    [currentPage]="page"
    [pageSize]="limit"
    [count]="totalOrders"
    [pagesToShow]="totalPages"
    ></app-pagination>
</div>